<div class="col-sm-3 col-md-3 aw-side-bar hidden-sm hidden-xs">
    <!-- 今日话题 -->
    <div class="aw-mod topic-daily hidden-xs">
        <div class="mod-head" style="margin-left:40px;">
            <a class="btn btn-success" href="javascript:;" onclick="disp_join_dialog();">申请加入球队</a>
        </div>
    </div>
    <!-- end 今日话题 -->
    <div class="aw-mod">
        <div class="mod-head">
            球队成员：
        </div>
        <div class="mod-body">
            <%= render :partial=>"users/nav_user" %>
            <%= render :partial=>"users/nav_user" %>
            <%= render :partial=>"users/nav_user" %>
            <%= render :partial=>"users/nav_user" %>
            <%= render :partial=>"users/nav_user" %>
            <%= render :partial=>"users/nav_user" %>
            <%= render :partial=>"users/nav_user" %>
        </div>
    </div>
</div>