<div class="container">
  <div class="row">
    <div class="aw-content-wrap clearfix">
      <div class="aw-user-setting">
        <div class="tabbable">
          <ul class="nav nav-tabs aw-nav-tabs active">
            <li><%= link_to "安全设置", edit_user_password_path %></li>
            <li class="active"><a href="/users/edit">基本资料</a></li>
            <h2><i class="icon icon-quill"></i> 用户设置</h2>
          </ul>
        </div>
        <div class="tab-content clearfix">
          <div class="aw-mod">
            <div class="mod-body">
              <div class="aw-mod mod-base">
                <div class="mod-head">
                  <h3>基本信息</h3>
                </div>
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, enctype:  "multipart/form-data" }) do |f| %>
                    <div class="mod-body">
                      <div style="width:50%;">
                        <%= render "shared/error_messages", target: resource %>
                      </div>  
                      <dl>
                        <dt>真实姓名:</dt>
                        <dd><%= f.input :name, input_html: { class: "form-control" } %></dd>
                      </dl>  
                      <dl>
                        <dt>用户名:</dt>
                        <dd><%= f.input :login, input_html: { class: "form-control", disabled: (!resource.email.blank?) } %></dd>
                      </dl>  
                      <dl>
                        <dt>头像:</dt>
                        <dd><%= f.input :avatar %></dd>
                      </dl>    
                      <dl>
                        <dt>邮箱:</dt>
                        <dd><%= f.input :email, input_html: { class: "form-control", disabled: (!resource.email.blank?) } %></dd>
                      </dl> 
                      <dl>
                        <dt>当前密码:</dt>
                        <dd><%= f.input :current_password, input_html: { class: "form-control"} %></dd>
                      </dl> 
                      <dl>
                        <dt>QQ:</dt>
                        <dd><%= f.input :location, input_html: { class: "form-control"} %></dd>
                      </dl> 
                      <dl>
                        <dt>联系电话:</dt>
                        <dd><%= f.input :location, input_html: { class: "form-control"} %></dd>
                      </dl> 
                      <dl>
                          <dt>个人简介:</dt>
                          <dd><%= f.input :bio, as: :text, input_html: { class: "form-control", style: "width:600px;", rows: "8"} %>
                      </dl>
                      <%= f.submit "更新信息", class: "btn btn-success" %>
                    <% end %>
                    <!-- 上传头像 -->
                    <div class="side-bar">
                      <dl>
                        <dt class="pull-left">
                          <%= user_avatar_tag(current_user, :big )%>
                        </dt>
                        <dd class="pull-left">
                          <h5>头像设置</h5>
                          <p>支持 jpg、gif、png 等格式的图片</p>
                        </dd>
                      </dl>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
   