<%= simple_form_for @topic do |f| %>
  <div class="aw-mod aw-mod-publish">
    <div class="mod-body">
      <div style="margin-top:20px;">
        <%= render "shared/error_messages", target: @topic %>
      </div>
      <h3>标题:</h3>
      <div class="aw-publish-title active">
        <div>
          <%= render_topic_node_select_tag(@topic) %>
          <%= text_field(:topic, :title, {class: "form-control", placeHolder: "请填写标题.."}) %>
        </div>
      </div>
      <h3>内容:</h3>
      <div class="aw-mod aw-editor-box">
        <div class="mod-head">
          <%= text_area(:topic, :body, {class: "form-control", style: "height:500px;"}) %>
        </div>
      </div>
    </div>
    <div class="mod-footer clearfix">
      <%= f.submit "确认发起", class: "btn btn-primary", 'data-disable-with' => "发起中.." %>
    </div>
  </div>
<% end %>

<script>
var editor = new Simditor({
  defaultImage: "<%= asset_path('image.png') %>",
  textarea: $('#topic_body'),
  toolbar: ['title','bold','italic','underline',
            'strikethrough','color','ol','ul','blockquote',
            'table','link','image','hr'],
  upload: {
    url: '/photos',
    params: null,
    fileKey: 'upload_file',
    connectionCount: 3,
    leaveConfirm: '正在上传文件，如果离开上传会自动取消'
  }

});
</script>