<div class="container aw-publish">
  <div class="row">
    <div class="aw-content-wrap clearfix">
      <div class="col-sm-12 col-md-9 aw-main-content">
        <!-- tab切换 -->
        <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
          <li><a href="http://wenda.bootcss.com/sort_type-unresponsive">等待回复</a></li>
          <li><a id="sort_control_hot" href="http://wenda.bootcss.com/sort_type-hot__day-7">热门</a></li>
          <li><a href="http://wenda.bootcss.com/is_recommend-1">推荐</a></li>
          <li class="active"><a href="">最新</a></li>

          <h2 class="hidden-xs"><i class="icon icon-bookmarks"></i>动态</h2>
        </ul>
        <!-- end tab切换 -->
        <div class="aw-mod aw-explore-list">
          <div class="mod-body">
            <div class="aw-common-list">
              <% @topics.each do |topic| %>
              <div class="aw-item">
                <a class="aw-user-name hidden-xs" href="/<%= topic.user.login %>">
                  <%= user_avatar_tag(topic.user, :normal) %>
                </a>
                 
                <div class="aw-question-content">
                  <h4>
                    <span data-no-turbolink>
                      <%= link_to topic.title, topic_path(topic) %>
                    </span>
                  </h4>
                  <div class="pull-right" style="margin-top:-12px;">
                    <div class="label label-primary">
                      <%= rand(100)%>
                    </div>
                  </div>
                  <p>
                    <%= link_to topic.user.login, "/#{topic.user.login}", {class: "aw-user-name"} %>
                    <span class="text-color-999">
                      回复了问题 • 6 人喜欢 • 1510 次浏览 • 2014-12-20 12:46        </span>
                  </p>

                  </div>

               </div>
               <% end %>
              </div>
            </div>
          <div class="mod-footer">
            <div class="page-control">
              <ul class="pagination pull-right">
                <%= will_paginate @topics, inner_window: 2 %>
              </ul>
            </div>           
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
        <%= render 'topic_right' %>   
      </div>
    </div>
  </div>
</div>