<div class="aw-container-wrap">
  <div class="container">
    <div class="row">
      <div class="aw-content-wrap clearfix">
        <div class="col-sm-12 col-md-9 aw-main-content">
          <div class="aw-mod aw-question-detail aw-item">
            <div class="mod-head">
              <h1>
                <%= @topic.title %>
              </h1>
              <span class="text-color-999">
                回复了问题 • 6 人关注 • 4 个回复 • 1370 次浏览 • 2014-12-20 12:46
                <% if current_user.id == @user.id %>
                  <span data-no-turbolink>
                    <a href="<%= edit_topic_path(@topic) %>" >修改<i class="icon icon-quill"></i></a>
                  </span>
                <% end %>
              </span>
              <div class="operate clearfix">
                <a class="aw-user-nav-dropdown" href="/<%= @topic.user.login %>">
                  <%= user_avatar_tag(@user, :normal) %>
                </a>
                
              </div>
            </div>
            <div class="mod-body">
              <div class="content markitup-box">
                <%= raw @topic.body %>
              </div>
            </div>
            <div class="mod-footer">
              <div class="meta">
                <div class="pull-right more-operate">
                  <a class="aw-icon-thank-tips text-color-999" onclick="AWS.User.question_thanks($(this), 155);" data-original-title="感谢提问者" data-toggle="tooltip" title="" data-placement="bottom">
                    <i class="icon icon-thank"></i>喜欢
                  </a>
                  
                  <a onclick="AWS.dialog('report', {item_type:'question', item_id:155})" class="text-color-999" href="javascript:;">
                    <i class="icon icon-report"></i>收藏
                  </a>    

                  <a data-toggle="dropdown" class="text-color-999 dropdown-toggle">
                    <i class="icon icon-share"></i>分享
                  </a>

                  <div class="aw-dropdown shareout pull-right" role="menu" aria-labelledby="dropdownMenu">
                    <ul class="aw-dropdown-list">
                      <li><a onclick="AWS.User.share_out('tsina');"><i class="icon icon-weibo"></i> 新浪微博</a></li>
                      <li><a onclick="AWS.User.share_out('qzone');"><i class="icon icon-qzone"></i> QZONE</a></li>
                      <li><a onclick="AWS.User.share_out('weixin');"><i class="icon icon-wechat"></i> 微信</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
          <%= render 'topic_right' %>   
        </div>
      </div>
    </div>
  </div>
</div>