<div class="aw-container-wrap">
  <div class="container">
    <div class="row">
        <div class="aw-content-wrap clearfix">
            <div class="col-sm-12 col-md-9 aw-main-content">
                <!-- 用户数据内容 -->
                <div class="aw-mod aw-user-detail-box">
                    <div class="mod-head">
                        <%= user_avatar_tag(@user, :big) %>
                        <h1><%= @user.login %></h1>
                        <p class="text-color-999"></p>
                        <p class="aw-user-flag">
                            <span>
                               <%= @user.bio %>
                            </span>

                        </p>
                        <p class="aw-user-flag">
                            <span>
                                <%= @user.bio %>   
                            </span>
                        </p>
                    </div>
                    <div class="mod-body">
                        <div class="meta">
                            <span>
                                <i class="icon icon-bubble"></i>
                                威望 : <em class="aw-text-color-green">110</em>
                             </span>
                            <span><i class="icon icon-vimeo"></i> 
                                赞同 : <em class="aw-text-color-orange">220</em>
                            </span>
                            <span><i class="icon icon-fire"></i> 
                                感谢 : <em class="aw-text-color-orange">120</em>
                            </span>
                        </div>
                    </div>
                    <div class="mod-footer">
                        <ul class="nav nav-tabs aw-nav-tabs hidden-xs">
                            <li class="active">
                                <a data-toggle="tab" id="page_questions" href="#questions">发帖<span class="badge">0</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" id="page_answers" href="#answers">回贴<span class="badge">1</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end 用户数据内容 -->

                <div class="aw-user-center-tab">
                    <div class="tab-content">
                        <div id="questions" class="tab-pane active">
                            <div class="aw-mod">
                                <div class="mod-head">
                                    <br/>
                                </div>
                                <div class="mod-body">
                                    <div id="contents_user_actions">
                                        <% @topics.each do |topic|%>
                                        <div class="aw-item">
                                            <p>
                                                <span class="pull-right text-color-999">4 个回复 • 1370 次浏览  |  <%= topic.created_at.strftime("%Y-%m-%d") %></span>
                                                <a href="topics/<%= topic.id %>" class="aw-hide-txt"><%= topic.title %></a>

                                            </p>
                                        </div>    
                                        <% end %>
                                     </div>
                                </div>
                            </div>
                        </div>

                        <div id="answers" class="tab-pane">
                            <div class="aw-mod">
                                <div class="mod-head">
                                    <br/>
                                </div>
                                <div class="mod-body">
                                    <div id="contents_user_actions">
                                        <% @replies.each do |reply| %>
                                            <div class="aw-item">
                                                <p>
                                                    <span class="pull-right text-color-999">4 个回复 • 1370 次浏览  |  <%= reply.created_at.strftime("%Y-%m-%d") %></span>
                                                    <a href="topics/<%= reply.topic.id %>" class="aw-hide-txt"><%= reply.topic.title %></a>

                                                </p>
                                            </div>
                                        <% end %>
                                     </div>
                                </div>
                                <div class="mod-footer">
                                    <!-- 加载更多内容 -->
                                    <a id="bp_user_actions_more" class="aw-load-more-content" data-page="1">
                                        <span>更多</span>
                                    </a>
                                    <!-- end 加载更多内容 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 侧边栏 -->
            <%= render :partial => "users/user_right", :object => @user %>
            <!-- end 侧边栏 -->
        </div>
    </div>
  </div>
</div>
<%= render :partial => "create_and_join_team" %>
      