<!DOCTYPE html>
<html>
<head>
  <title>AmateurFootball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <script>
  	Turbolinks.enableProgressBar();
  </script>
</head>
<body>
<noscript id="noscript" unselectable="on">
    &lt;div class="aw-404 aw-404-wrap container"&gt;
        &lt;img src="http://wenda.bootcss.com/static/common/no-js.jpg"&gt;
        &lt;p&gt;你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!&lt;/p&gt;
    &lt;/div&gt;
</noscript>
<div class="aw-top-menu-wrap">
    <div class="container">
      <div class="aw-logo hidden-xs">
        <a href="http://localhost:3000"></a>
      </div>
      <div class="aw-top-nav navbar">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <li><%= link_to("一级节点", background_sections_path) %><li>
              <li><%= link_to("二级节点", background_nodes_path) %><li>
          </ul>
        </nav>
      </div>
      <% if user_signed_in? %>
        <div class="aw-user-nav">
          <a class="aw-user-nav-dropdown" href="/<%= current_user.login %>">
          <%= user_avatar_tag(current_user, :normal) %>
          </a>
          <div class="aw-dropdown dropdown-list pull-right">
            <ul class="aw-dropdown-list">
              <li>
                <a href="http://wenda.bootcss.com/inbox/">
                  <i class="icon icon-inbox"></i> 私信
                  <span id="inbox_unread" class="badge badge-important hide" style="display: none;">0
                  </span>
                </a>
              </li>
              <li class="hidden-xs">
                <%=  link_to "设置", edit_user_registration_path %>
              </li>
              <li><%= link_to "退出", destroy_user_session_path, method: "delete" %></li>
            </ul>
          </div>
        </div>
        <div class="aw-publish-btn">
          <a class="btn-primary" href="http://wenda.bootcss.com/publish/" id="header_publish"><i class="icon icon-bullhorn"></i>发起</a>
          <div class="dropdown-list pull-right">
            <ul>
              <li><a href="http://wenda.bootcss.com/publish/">问题</a></li>
              <li><a href="http://wenda.bootcss.com/publish/article/">文章</a></li>
            </ul>
          </div>
        </div>        
      <% else %>
        <div class="aw-user-nav">
          <span>
            <%= link_to "注册", new_user_registration_path, html_options = {class: "register btn btn-normal btn-success"} %>
            <%= link_to "登录", new_user_session_path, html_options = {class: "login btn btn-normal btn-primary"} %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
<div class="aw-container-wrap">
  <div class="container">
    <div class="row">
	    <%= yield %>
    </div>
  </div>
</div>
<footer class="footer ">
  <div class="container">
    <div class="row footer-top">
      <div class="col-sm-6 col-lg-6">
        <h4>
          <img src="http://wenda.bootcss.com/static/css/default/logo/logo.png">
        </h4>
        <p>本网站所列开源项目的中文版文档全部由<a target="_blank" href="http://www.bootcss.com/">Bootstrap中文网</a>成员翻译整理，并全部遵循 <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>协议发布。</p>
      </div>
      <div class="col-sm-6  col-lg-5 col-lg-offset-1">
        <div class="row about">
          <div class="col-xs-4">
            <h4>关于</h4>
            <ul class="list-unstyled">
              <li><a target="_blank" href="http://www.bootcss.com/about/">关于我们</a></li>
              <li><a target="_blank" href="http://www.bootcss.com/ad/">广告合作</a></li>
              <li><a target="_blank" href="http://www.bootcss.com/links/">友情链接</a></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>联系方式</h4>
            <ul class="list-unstyled">
              <li><a target="_blank" title="Bootstrap中文网官方微博" href="http://weibo.com/bootcss">新浪微博</a></li>
              <li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>旗下网站</h4>
            <ul class="list-unstyled">
              <li><a target="_blank" href="http://www.golaravel.com/">Laravel中文网</a></li>
              <li><a target="_blank" href="http://www.ghostchina.com/">Ghost中国</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="row footer-bottom">
      <ul class="list-inline text-center">
        <li><a target="_blank" href="http://www.miibeian.gov.cn/">京ICP备11008151号</a></li><li>京公网安备11010802014853</li>
      </ul>
    </div>
  </div>
</footer>

</body>
</html>
